## DAY-2
+ Python basics
- Strings  
+ List  
* Dictionary  
- Tuples

## Why python?
* Easy to learn and simple syntax  
- More advanced lib,func,modules,etc...
+ Execution is fast and occupies less space

## Python Basics

In [1]:
#datatype var = 10

In [2]:
type(10)

int

In [3]:
type(6.32)

float

In [5]:
type('12.3')

str

## Data type conversions

In [6]:
a = 10
print(a,type(a))

10 <class 'int'>

In [7]:
print(float(a))

10.0

In [8]:
float(8)

8.0

In [9]:
int(float(10.23))
##int(10.23)

10

In [10]:
type(int(float(10.23)))

int

In [11]:
s='10.19'
type(s)

str

In [12]:
float(s)

10.19

In [13]:
type(float(s))

float

In [14]:
float('12.32')

12.32

## Strings
* collection of characters or numbers placed in btw single or double quotes

In [15]:
s1="Meghana"
type(s1)

str

In [16]:
s2 = "Udhika"

In [17]:
s2+s1

'UdhikaMeghana'

In [18]:
s2 + " " + s1

'Udhika Meghana'

## Slicing

In [19]:
s1[1:5]

'egha'

In [20]:
s1[1]

'e'

In [21]:
s1[0:7]

'Meghana'

In [22]:
s1[-1]  #-ve index

'a'

In [23]:
s1[::-1] #reverse order

'anahgeM'

In [24]:
s1[::2] #alternate values

'Mgaa'

In [25]:
s2[::3] #skips every 3rd letter

'Ui'

## Methods in String

In [26]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [27]:
s4 = "123maggi123"
s4.isalpha()

False

## space, $%^&#@! are special characters

In [28]:
s5 = "Kotha Udhika"
s5.isalpha()

False

In [29]:
s5 = "UdhikaMeghana"
s5.isalpha()

True

## Help function

In [30]:
help(str.isalpha)

Help on method_descriptor:

isalpha(self, /)
    Return True if the string is an alphabetic string, False otherwise.

    A string is alphabetic if all characters in the string are alphabetic and there
    is at least one character in the string.

## Lists
- used to store collection of diff data types.
- these are mutable(change the values).
- list should be in [].

In [31]:
l1 = [] #empty list
l2 = [10,'meghana',20.32,1220] #multiple datatype values

In [32]:
## Acess value
l2[0:1]

[10]

In [33]:
l2[2]

20.32

In [34]:
l2[0:]

[10, 'meghana', 20.32, 1220]

## Methods in list

In [35]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
l2

[10, 'meghana', 20.32, 1220]

In [37]:
l2[2] = 200.56 # Mutable

In [38]:
l2

[10, 'meghana', 200.56, 1220]

In [39]:
l3 = []
print(l3)

[]

### Append function

In [40]:
l3.append(25420)

In [41]:
l3

[25420]

### Extend function

In [42]:
l3.extend([30.2,'meghana'])

In [43]:
l3

[25420, 30.2, 'meghana']

### Remove function

In [44]:
l3.remove(30.2) # remove

In [45]:
l3

[25420, 'meghana']

## Nested lists

In [46]:
L4 = [15,20,25,30,['maggi','dinu','lucky','navi','vigni'],35,40]
L4[0]

15

In [47]:
L4[4]

['maggi', 'dinu', 'lucky', 'navi', 'vigni']

In [48]:
print(L4[4])
print(type(L4[4]))

['maggi', 'dinu', 'lucky', 'navi', 'vigni']
<class 'list'>

In [49]:
L4[4][2]

'lucky'

In [50]:
print(type(L4[4][2]))

<class 'str'>

In [51]:
for i in L4:
     if(type(i)==int) :
        print(i)

15
20
25
30
35
40

## Dictionaries
+ pair of keys and values separated with ":"  
+ these are repretented as "{}"
+ collection of data
+ Mutable

In [52]:
D1={'key1':'value1','key2':200,'key3':500}

In [53]:
D2={'A':100,'B':200,'C':300}
D2

{'A': 100, 'B': 200, 'C': 300}

## Methods of Dict

In [54]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [55]:
D2.keys()

dict_keys(['A', 'B', 'C'])

In [56]:
D2.values()

dict_values([100, 200, 300])

In [57]:
D2

{'A': 100, 'B': 200, 'C': 300}

## Difference btw list and dict

In [58]:
l2

[10, 'meghana', 200.56, 1220]

In [59]:
l2[1]

'meghana'

### Keys are act as index in dict

In [60]:
D2['C']

300

In [61]:
D2['C'] = 500

In [62]:
D2

{'A': 100, 'B': 200, 'C': 500}

In [63]:
D3={'student':['Udhika','Lucky','Navi','Dinu','Vigni'],'id':[121,122,123,124,125],
    'branch':['cse','ece','bba','it','civil']}
D3.keys()

dict_keys(['student', 'id', 'branch'])

In [64]:
D3.values()

dict_values([['Udhika', 'Lucky', 'Navi', 'Dinu', 'Vigni'], [121, 122, 123, 124, 125], ['cse', 'ece', 'bba', 'it', 'civil']])

### Display o/p as 124

In [65]:
D3['id']

[121, 122, 123, 124, 125]

In [66]:
type(D3['id'])

list

In [67]:
D3['id'][3]

124

## Tuples
* Imutable
* these are represented in "()"
* collection of data

In [68]:
T1=() #Empty tuple
type(T1)

tuple

In [69]:
T2 = (221)
type(T2)

int

In [70]:
T3 = (200,) # For single value end with ','
type(T3)

tuple

## Mutable Vs Imutable

In [71]:
List=[20,'maggi',23.1]
List[1]='dinu'

In [72]:
List

[20, 'dinu', 23.1]

In [73]:
Tuple=(10,'dinu',25.6)
Tuple[1] = 'lucky'

TypeError: 'tuple' object does not support item assignment

In [74]:
Tuple[1]

'dinu'

## Methods of Tuples

In [75]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']